<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>
    <header>
        <nav>
            <div class="logo"> ON <span>TIME</span> DELIVERY </div>
            <ul>
                <li><a href="/parcel">Parcels</a></li> 
                <li><a href="/docs">docs</a></li> 
                <li><a href="/users">Sign up</a></li>
            </ul>
        </nav>
    </header>

    <div class="trello">
        <a href="https://trello.com/invite/b/ELLS8RXd/439fd6a4579afc48dd4907af7e223af4/on-time-delivery-app">Trello Board</a>
    </div>

    <div class="trello">
        <a href="https://trello.com/invite/b/ELLS8RXd/439fd6a4579afc48dd4907af7e223af4/on-time-delivery-app">Trello Board</a>
    </div>

</body>
</html>